%TMPL:INCLUDE{"edit"}%
%{ ### Redefines the edit.pattern.tmpl for Foswiki 2.0, changing the comment field to revcomment ### }%
%TMPL:DEF{"topicinfo"}%%TMPL:P{context="RevCommentPluginEnabled" then="revcomment"}%<hr /><div class="patternTopicActions foswikiFormStep clear"><div class="patternActionButtons">%TMPL:P{"action_buttons"}%</div></div>%TMPL:P{"forcerevisioncheckbox"}%%TMPL:END%
%TMPL:DEF{"revcomment"}%<div class='revComment'>%TMPL:P{"revcomment::form"}%%TMPL:P{"revcomment::help"}%</div>%TMPL:END%
%TMPL:DEF{"revcomment::form"}%<label for='revcomment'>%MAKETEXT{"Summary of changes"}%</label> <input class='foswikiInputField' type='text' size='80' name='revcomment' id='revcomment' value='%URLPARAM{"revcomment"}%'  /> %TMPL:END%
%TMPL:DEF{"revcomment::help"}%%POPUPWINDOW{"%SYSTEMWEB%.RevCommentHelp" label="%MAKETEXT{"help"}%"}%%TMPL:END%
