%TMPL:INCLUDE{"edittoolbar"}%
%{ ### Redefines the edittoolbar.pattern.tmpl for Foswiki 2.0, changing the comment field to revcomment ### }%
%TMPL:DEF{"bottomtopicactions"}%<div class="natEditBottomBar">
%IF{ "context RevCommentPluginEnabled" then="%TMPL:P{"revcomment"}%"}%
<ul>%TMPL:P{"saveorrestorebutton"}%%TMPL:P{"checkpointbutton"}%%TMPL:P{"previewbutton"}%%TMPL:P{"formbutton"}%%TMPL:P{"changeform"}%%TMPL:P{"cancelbutton"}%%TMPL:P{"forcenewrevision"}%</ul>
%CLEAR%
</div>
%TMPL:END%
%TMPL:DEF{"revcomment"}%
<div class='revComment'>
<label for='revcomment'>Summary of changes</label>
<input class='foswikiInputField' type='text' style='width:50%' name='revcomment' id='revcomment' />
%POPUPWINDOW{"%SYSTEMWEB%.RevCommentHelp" label="%MAKETEXT{"help"}%"}%</div>%TMPL:END%
