%TMPL:INCLUDE{"oopshistory"}%
%{ SMELL: historytable_rcp_disabled defined in oopshistory.tmpl. Foswiki 2.0.2 renames it. }%
%TMPL:DEF{"historytable"}%%TMPL:P{context="RevCommentPluginEnabled" then="historytable_rcp_enabled" else="historytable_rcp_disabled"}%%TMPL:END%
%TMPL:DEF{"historytable_rcp_enabled"}%<table class="foswikiTable historySelectTable" summary="%MAKETEXT{"Topic history"}%">
<tr>
<th colspan="3">%MAKETEXT{"Revision"}%</th>
<th>%MAKETEXT{"Changed on"}%</th>
<th>%MAKETEXT{"Last edited by"}%</th>
<th>%MAKETEXT{"Comment"}%</th>
</tr>
%HISTORY{"<tr>
  <td align="right"><a href=\"%SCRIPTURL{view}%/%WEB%/%TOPIC%?rev=$rev\">$rev</a></td>
  <td style=\"background-color:#fffaf2; text-align:center;\">
    <input type=\"radio\" name=\"rev2\" value=\"$rev\" style=\"border:none; background-color:#fffaf2;\" />
  </td>
  <td style=\"background-color:#f2f7fc; text-align:center;\">
    <input type=\"radio\" name=\"rev1\" value=\"$rev\" style=\"border:none; background-color:#f2f7fc;\" />
  </td>
  <td style="white-space: nowrap;">$date</td>
  <td>[[$wikiusername][$wikiname]]</td>
  <td>
    <div class="historyRevComment">$percntREVCOMMENT{rev=\"$rev\"}$percnt</div>
  </td>
</tr>" 
  rev1="%URLPARAM{"rev1"}%" 
  rev2="%URLPARAM{"rev2"}%" 
  nrev="%URLPARAM{"nrev"}%" 
  header="" 
  footer="</table>$n%TMPL:P{"historytable:navigation"}%%TMPL:END%

%TMPL:DEF{"cssFoswikiDiffOptions"}%%TMPL:PREV%%ADDTOZONE{"head" id="cssFoswikiRcpDiffOptions" text="<style type='text/css' media='all'>
.historyRevComment ul {
	list-style:none;
	padding:0;
	margin:0 0 0 1em;
}
.historyRevComment li {
	padding:0;
	margin:0;
}
</style>"}%%TMPL:END%

